# Postgres
POSTGRES_USER=loomi_user
POSTGRES_PASSWORD=loomi_pass
POSTGRES_DB=loomi_db
POSTGRES_PORT=5433

# Redis
REDIS_PORT=6379

# RabbitMQ
RABBITMQ_USER=loomi_rabbit
RABBITMQ_PASS=loomi_rabbit_pass
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
