PORT=3002

DATABASE_URL=postgres://loomi_user:loomi_pass@postgres:5432/loomi_db
RABBITMQ_URL=amqp://loomi_rabbit:loomi_rabbit_pass@rabbitmq:5672
REDIS_URL=redis://redis:6379/0


USERS_SERVICE_URL=http://users-service:3001

SERVICE_NAME=transactions-service
